node_modules
**/node_modules
.pnpm-store

.next
**/.next
dist
**/dist
build
**/build
out
**/out

.git

.env*

*.log

.vscode
.idea

.DS_Store
Thumbs.db

coverage
__tests__
*.test.*
*.spec.*

**/.turbo